---
import logo1 from "/src/assets/logo1.svg";
// src={logo1.src}
---

<nav class="bg-slate-300 text-dark p-3 mb-5">
  <div class="container-sm md:container flex justify-center items-center">
    <div class="text-lg flex justify-between items-center gap-5">
      <ul class="flex p-0 my-0 mr-5 gap-5">
        <li>
          <a class="hover:text-black no-underline text-gray-700" href="#"
            >About</a
          >
        </li>
        <li>
          <a class="hover:text-black no-underline text-gray-700" href="#"
            >Services</a
          >
        </li>
      </ul>
    </div>
    <a class="p-0 px-5" href="#">
      <img
        src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
        width="50"
        height="50"
        alt="A Logo"
      />
    </a>
    <div class="text-lg flex justify-between items-center">
      <ul class="flex p-0 my-0 ml-5 gap-5">
        <li>
          <a class="hover:text-black no-underline text-gray-700" href="#"
            >Products</a
          >
        </li>
        <li>
          <a class="hover:text-black no-underline text-gray-700" href="#"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
