---
import logo1 from "/src/assets/logo1.svg";
// src={logo1.src}
---

<nav class="bg-slate-100 p-3 fixed w-full">
  <div class="container-xl flex justify-between items-center">
    <a class="" href="/">
      <img
        src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
        width="50"
        height="50"
        alt="A Logo"
        alt=""
      />
    </a>
    <div class="text-lg font-medium">
      <ul class="flex justify-between m-0 gap-5">
        <li>
          <a class="hover:text-black no-underline text-gray-500" href="/about/"
            >About</a
          >
        </li>

        <li>
          <a class="hover:text-black no-underline text-gray-500" href="#"
            >Services</a
          >
          <!-- <ul class="p-0">
            <li class="p-2">
              <a href="#">Service 1</a>
            </li>
            <li class="p-2">
              <a href="#">Service 2</a>
            </li>
            <li class="p-2">
              <a href="#">Service 3</a>
            </li>
          </ul> -->
        </li>

        <li>
          <a class="hover:text-black no-underline text-gray-500" href="#"
            >Products</a
          >
          <!-- <ul class="dropdown-menu p-0">
            <li class="p-2">
              <a class="dropdown-item" href="#">Product 1</a>
            </li>
            <li class="p-2">
              <a class="dropdown-item" href="#">Product 2</a>
            </li>
            <li class="p-2">
              <a class="dropdown-item" href="#">Product 3</a>
            </li>
          </ul> -->
        </li>
        <li>
          <a class="hover:text-black no-underline text-gray-500" href="#"
            >Contact</a
          >
        </li>
        <li>
          <a class="hover:text-black no-underline text-gray-500" href="/blog/"
            >Blog</a
          >
        </li>
      </ul>
    </div>
    <div class="flex justify-center items-center gap-3">
      <a class="hover:text-black text-gray-500 text-xl" href="#"
        ><i class="fa-solid fa-user"></i></a
      >
      <a class="hover:text-black text-gray-500 text-xl" href="#"
        ><i class="fa-solid fa-bag-shopping"></i></a
      >
    </div>
  </div>
</nav>
