---

---

<footer class="bg-slate-300">
  <div class="container-xl flex justify-between py-5">
    <div class="column-3 w-100">
      <h5>Title 1</h5>
      <div class="flex flex-col gap-2">
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
      </div>
    </div>
    <div class="column-3 w-100">
      <div class="flex flex-col gap-2">
        <h5>Title 2</h5>
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
        <a class="text-gray-600 hover:text-black" href="#">Link</a>
      </div>
    </div>
    <div class="column-5 w-100">
      <h5 class="mb-2">Subscribe To Our Newsletter</h5>
      <div class="bg-white flex justify-between gap-0 rounded-sm">
        <input class="p-2 w-75 rounded-sm" type="text" />
        <button class="bg-zinc-100 hover:bg-zinc-200 p-2 w-25 rounded-sm"
          >Sign Me Up</button
        >
      </div>
      <p class="text-gray-600 pt-3 text-sm leading-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        voluptatum commodi aspernatur! Possimus inventore corporis dolore, amet
        beatae esse voluptas!
      </p>
    </div>
  </div>
</footer>
