---
import AboutLayout from "../layouts/AboutLayout.astro";
import Header3 from "../components/Header3/Header3.astro";
import Footer1 from "../components/Footer1/Footer1.astro";
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.css";
---

<AboutLayout>
  <Header3 />

  <section class="bg-slate-300 py-52 about">
    <div class="container">
      <div class="text-center border-spacing-2">
        <h1 class="display-2 about-h1">About Page</h1>
        <p class="lead about-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!-- <button class="bg-slate-100 w-25 p-2 font-semibold hover:bg-slate-200"
          >Start Now</button
        > -->
      </div>
    </div>
  </section>

  <section class="bg-white m-5">
    <div class="container-sm">
      <div class="p-5">
        <h3 class="mb-4 text-4xl">About Our Company</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt ut aut culpa
          illum. Quo minima libero aut? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Consequuntur iure consequatur rerum maiores impedit
          fuga maiores impedit.
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt.
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt ut aut culpa
          illum. Quo minima libero aut?
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt ut aut culpa
          illum. Quo minima libero aut?
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt ut aut culpa
          illum. Quo minima libero aut?
        </p>
      </div>
    </div>
  </section>

  <Footer1 />
</AboutLayout>
