---
import Layout from "../layouts/Layout.astro";
import Blog1 from "../Blog/post-1.md";
import Blog2 from "../Blog/post-2.md";
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.scss";
const pageTitle = "Welcome to my blog page!";
---

<Layout>
  <section class="bg-slate-300 py-52">
    <div class="container">
      <div class="text-center border-spacing-2">
        <h1 class="display-2 text-center">{pageTitle}</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="/src/blog/post-1.md">Post 1</a>
        <a href="/src/blog/post-2.md/">Post 2</a>

        <!-- <button class="bg-slate-100 w-25 p-2 font-semibold hover:bg-slate-200"
          >Start Now</button
        > -->
      </div>
    </div>
  </section>

  <section class="bg-white p-12">
    <div class="container w-75">
      <a
        href="/blog/"
        class="flex justify-between gap-3 bg-gray-200 rounded-lg p-3 mb-5"
      >
        <div>
          <img
            class="w-48 h-48 rounded-lg"
            src="/img/dummy-img.jpg"
            alt="image"
          />
        </div>
        <div>
          <Blog1 />
        </div>
      </a>
      <div class="flex justify-between gap-3 bg-gray-200 rounded-lg p-3">
        <div>
          <img
            class="w-48 h-48 rounded-lg"
            src="/img/dummy-img2.jpg"
            alt="image"
          />
        </div>
        <div>
          <Blog2 />
        </div>
      </div>
    </div>
  </section>
</Layout>
