---
import Layout from "../layouts/Layout.astro";
import Hero1 from "../components/Hero1.astro";
import Header3 from "../components/Header3.astro";
import Footer2 from "../components/Footer2.astro";
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.scss";
---

<Layout>
  <Header3 />
  <Hero1 />
  <!-- <section class="bg-white hero">
    <div class="container container:md">
      <div class="column-2 flex justify-between items-center">
        <div class="w-50">
          <h1 class="display-4">Title Goes Here 2</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button class="bg-slate-100 w-25 p-2 font-semibold hover:bg-slate-200"
            >Start Now</button
          >
        </div>
        <div class="w-50">
          <img class="rounded-2" src="ps_img1.jpg" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section> -->
  <Footer2 />
</Layout>
