---
import PageLayout from "../layouts/PageLayout.astro";
import Header3 from "../components/Header3.astro";
import Footer2 from "../components/Footer2.astro";
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.scss";
const pageTitle = "Welcome to my services page!"

---

<PageLayout>
  <Header3 />

  <section class="bg-slate-300 py-52">
    <div class="container">
      <div class="text-center border-spacing-2">
        <h1 class="display-2">{pageTitle}</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <!-- <button class="bg-slate-100 w-25 p-2 font-semibold hover:bg-slate-200"
          >Start Now</button
        > -->
      </div>
    </div>
  </section>

  <section class="bg-white m-5">
    <div class="container-sm">
      <div class="p-5">
        <h3 class="mb-4 text-4xl">Services</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi
          id voluptas sunt perferendis placeat neque omnis aperiam excepturi a.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem,
          quibusdam beatae amet totam sed saepe aliquid! Sunt ut aut culpa
          illum. Quo minima libero aut? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Consequuntur iure consequatur rerum maiores impedit
          fuga maiores impedit.
        </p>
      </div>
    </div>
  </section>

  <Footer2 />
</PageLayout>

<!-- Welcome to Astro! Everything between
these triple-dash code fences // is your "component frontmatter". It never runs
in the browser. console.log('This runs in your terminal, not the browser!');  --><!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<!-- <html>
  <body> </body>
</html>
<style></style> -->
