<section class="py-40 bg-gray-300">
  <div class="container">
    <h2 class="text-5xl font-bold text-center mx-auto">
      Check out my Awesome Projects
    </h2>
    <p class="lead text-center w-50 mx-auto mb-5">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard.
    </p>
  </div>
  <div>
    <ul class="flex justify-center gap-5 m-0">
      <li><a class="text-black" href="#">Websites</a></li>
      <li><a class="text-black" href="#">Emails</a></li>
      <li><a class="text-black" href="#">Current Projects</a></li>
    </ul>
  </div>
  <div class="grid grid-cols-4 mt-5">
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img.jpg" alt="Image 1" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img2.jpg" alt="Image 4" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img.jpg" alt="Image 3" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img2.jpg" alt="Image 4" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img2.jpg" alt="Image 5" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img.jpg" alt="Image 6" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img2.jpg" alt="Image 7" />
      </a>
    </div>
    <div class="border-1 box">
      <a href="#">
        <img src="/img/dummy-img.jpg" alt="Image 8" />
      </a>
    </div>
  </div>
</section>
