<section class="py-40">
  <div>
    <h2 class="text-5xl font-bold text-center">
      Check out my Awesome Projects
    </h2>
    <p class="lead text-center w-50 mx-auto mb-5">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard.
    </p>
  </div>
  <div>
    <ul class="flex justify-center gap-5">
      <li><a class="text-black" href="#">Websites</a></li>
      <li><a class="text-black" href="#">Emails</a></li>
      <li><a class="text-black" href="#">Current Projects</a></li>
    </ul>
  </div>
  <div class="grid grid-cols-4 mt-5">
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
    <div class="border-1">
      <a href="#">
        <img src="https://placehold.co/1200x1500" alt="Image 1" />
      </a>
    </div>
  </div>
</section>
