---
import logo1 from "/src/assets/logo1.svg";
// src={logo1.src}
---

<header class="bg-slate-800 p-4">
  <div class="container">
    <!-- <a class="font-bold text-xl text-slate-800 no-underline" href="/"
      >RDP Video Productions
      <img
        src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
        width="50"
        height="50"
        alt="A Logo"
        alt=""
      />
    </a> -->
    <ul class="flex justify-center items-center gap-5 m-0">
      <li>
        <a
          class="text-base font-bold hover:text-gray-300 no-underline text-gray-400 uppercase"
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class="text-base font-bold hover:text-gray-300 no-underline text-gray-400 uppercase"
          href="/#projects">Projects</a
        >
      </li>
      <li>
        <a
          class="text-base font-bold hover:text-gray-300 no-underline text-gray-400 uppercase"
          href="/blog/">Blog</a
        >
      </li>
      <li>
        <a
          class="text-base font-bold hover:text-gray-300 no-underline text-gray-400 uppercase"
          href="/about/">About Me</a
        >
      </li>
      <li>
        <a
          class="text-base font-bold hover:text-gray-300 no-underline text-gray-400 uppercase"
          href="/contact/">Contact</a
        >
      </li>
    </ul>

    <!-- <ul class="p-0">
            <li class="p-2">
              <a href="#">Service 1</a>
            </li>
            <li class="p-2">
              <a href="#">Service 2</a>
            </li>
            <li class="p-2">
              <a href="#">Service 3</a>
            </li>
          </ul> -->

    <!-- <li>
          <a
            class="hover:text-black no-underline text-gray-500"
            class="text-base hover:text-black no-underline text-gray-500"
            href="/products/">Products</a
          >
        </li> -->
  </div>
</header>

<!-- <div>
>>>>>>> staging:src/components/Header3/Header3.astro
      <button class="btn bg-black text-white w-full">Business Inquiries</button>
    </div> -->
<!-- <div class="flex justify-center items-center gap-3">
      <a class="hover:text-black text-gray-500 text-xl" href="#"
=======
    <div class="flex justify-center items-center gap-3">
      <a class="hover:text-black text-gray-500 text-base" href="#"
>>>>>>> 64767e423c7409d5a99940091966823bc9ce3467:src/components/Header3.astro
        ><i class="fa-solid fa-user"></i></a
      >
      <a class="hover:text-black text-gray-500 text-base" href="#"
        ><i class="fa-solid fa-bag-shopping"></i></a
      >
    </div> -->
