<style>
  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<section class="bg-white hero">
  <div class="container">
    <div class="column-2 flex justify-between items-center">
      <div class="w-50">
        <h1 class="display-5">Title Goes Here</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="bg-slate-200 w-25 p-2 font-semibold hover:bg-slate-300"
          >Start Now</button
        >
      </div>
      <div class="w-50">
        <img class="rounded-2" src="ps_img1.jpg" alt="Hero Image" />
      </div>
    </div>
  </div>
</section>
