<style>
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<section class="py-60 bg-slate-800">
  <div class="container">
    <div class="column-2 flex justify-between items-center">
      <div>
        <h1 class="text-8xl font-black text-green-300">More Of My Work</h1>
        <p class="lead w-50 text-gray-300">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is
          simply dummy text of the printing.
        </p>
        <!-- <button class="bg-slate-200 w-25 p-2 font-semibold hover:bg-slate-300"
          >Start Now</button
        > -->
      </div>
      <!-- <div class="w-50">
        <img class="rounded-2" src="ps_img1.jpg" alt="Hero Image" />
      </div> -->
    </div>
  </div>
</section>
