---
import Posts from "../../pages/posts/1.md";
---

<section class="bg-slate-300 py-52">
  <div class="container">
    <div class="text-center border-spacing-2 border-blue-200">
      <h1 class="display-2">Welcome to My Blog Page</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <!-- <button class="bg-slate-100 w-25 p-2 font-semibold hover:bg-slate-200"
          >Start Now</button
        > -->
    </div>
  </div>
</section>
<section class="p-5 mb-5">
  <div class="container-xl">
    <div class="card p-5 mb-5">
      <div class="text-center">
        <!-- <img src="https://placehold.co/100x100" alt="image" /> -->
        <Posts />
      </div>
    </div>
    <div class="card p-5">
      <div class="text-center">
        <!-- <img src="https://placehold.co/100x100" alt="image" /> -->
        <Posts />
      </div>
    </div>
  </div>
</section>
